{% extends 'base.html' %}

{% block conteudo %}


<div class="main-content_atividade">
        <h1>Cadastrar Atividade</h1>
 <form action="{{url_for('cadastrar_atividade')}}" method="POST" class="atividade_form">

            <div class="nome_atividade">
                <input type="text" name="nome" placeholder="Nome da atividade">
            </div>
            <div class="descricao_atividade">
                <textarea name="descricao" placeholder="Descrição" rows="6"></textarea>
            </div>
            <button type="submit">Enviar</button>
    </form>

</div>  


<h1>Atividades Cadastradas</h1>
{% if atividades %}
    <ul>
    {% for atv in atividades %}
        <li>
            <strong>{{ atv['nome'] }}</strong> - {{ atv['descricao'] }}
            <form method="POST" action="{{ url_for('delete_atividade') }}" style="display:inline;">
                <input type="hidden" name="atividade_id" value="{{ atv['id'] }}">
                <button type="submit">Excluir</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma atividade cadastrada.</p>
{% endif %}
{% endblock %}  