{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block pagina %}
    Dashboard
{% endblock %}


{% block conteudo %}
    
    <div class="main-content">
        <h1>Oi, {{current_user.nome}}</h1>

        <form action="{{url_for('buscar')}}" method="post">
            <input type="text" name="termo" placeholder="Buscar por atividade">
            <button type="submit">Buscar</button>
        </form>

        <form action="{{url_for('cadastrar_atividade')}}" method="post">
        <button type="submit">Cadastrar atividade</button>
        </form>
        <button><a href="{{ url_for('minhas_atividades') }}" style="text-decoration: none;">📋 Minhas Atividades</a></button>
    </div>  
    
     
{% endblock %}
