
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            formularios
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='pagina_inicial.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
            <div class="logo-container">
            <div class="logo_gerenciador">
                <div class="checkmark-container">
                    <div class="checkmark"></div>
                </div>
                <span class="text_logo">Gerenciador de tarefas</span>
            </div>
            </div>
            
            <div class="links">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    <a href="{{ url_for('sugerir') }}">Sugestões</a>
                {% else %}
                    <a href="{{ url_for('register') }}">Cadastre-se</a>
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
            
    </header>
    
    <main>
        <div class="text_container"> <h1>
                Por que utilizar um gerenciador de estudos?
            </h1>
            <p>
                O software gerenciador de estudos surgiu da necessidade
                de ajudar estudantes a organizarem melhor seu tempo e tarefas. 
                Com a grande quantidade de matérias, prazos e atividades, 
                muitos têm dificuldade em manter uma rotina eficiente.
                Essa ferramenta permite planejar, acompanhar o progresso 
                e melhorar o desempenho, tornando os estudos mais produtivos e menos estressantes.
            </p>
            </div>
    </main>

    <footer>
        
    
    </footer>
</body>
</html>