{% extends 'base.html' %}

{% block title %}
Página inicial   
{% endblock %}

{% block conteudo %}
    <div class="text_container"> <h1>
                Por que utilizar um gerenciador de estudos?
            </h1>
            <p>
                O software gerenciador de estudos surgiu da necessidade
                de ajudar estudantes a organizarem melhor seu tempo e tarefas. 
                Com a grande quantidade de matérias, prazos e atividades, 
                muitos têm dificuldade em manter uma rotina eficiente.
                Essa ferramenta permite planejar, acompanhar o progresso 
                e melhorar o desempenho, tornando os estudos mais produtivos e menos estressantes.
            </p>
            </div>
{% endblock %}

